$font-primary: Arial, Helvetica, sans-serif;
$block-width: 20px;
$block-height: 20px;
$spacing: 5px;
$border-radius-primary: 20px;
$align: center;
$box: box-element-left;
$transition-speed: 0.6s;

$big-size: 12220px;
$large: 12220px;
$tablette: 12220px;
$telephone: 12220px;